/* RegistrationForm.css */
body {
  background-color: rgb(248, 236, 210);
}
.navbar {
  background-size: 200px;
  background-color: #ff4800;
  font-style:oblique;
  max-height: max-content;
}
.navbar-text{
  color:#ffffff;
  font: size 100px;;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
h1{
  font-size: 30px;
  color: brown;
  text-decoration-style: double;
}
.registration-form {
  background-color: #333; /* Fondo oscuro */
  color: #ff6b6b; /* Texto rosa */
  font-weight: bold; /* Texto en negrita */
  padding: 20px;
  border-radius: 10px;
}

.registration-form form {
  font-weight: bold; /* Texto en negrita */
  font-size: large;
}

.registration-form .form-group {
  margin-bottom: 25px; /* Más separación entre elementos */
}

.registration-form label {
  color: #ffcc29; /* Texto naranja */
}

.registration-form .form-control {
  border: 2px solid #ff6b6b; /* Borde rosa */
  border-radius: 5px;
  padding: 20px;
  font-weight: bold; /* Texto en negrita */
  background-color: #3a3737; /* Fondo más oscuro */
  color: #ff6b6b; /* Texto rosa */
  transition: color 0.3s; /* Transición de color al escribir */
}

.registration-form .form-control:focus {
  border-color: #ffcc29; /* Borde naranja al hacer foco */
  box-shadow: none; /* Sin sombra al hacer foco */
}

.registration-form .form-control::placeholder {
  color: #ffcc29; /* Color del marcador de posición */
}

.registration-form .form-control:focus::placeholder {
  color: #ff6b6b; /* Color del marcador de posición al hacer foco */
}

.registration-form .btn-primary {
  background-color: #ffcc29; /* Fondo naranja */
  border:#333;
  font-weight: bold; /* Texto en negrita */
  font-size: 23px;
}

.registration-form .btn-primary:hover {
  background-color: #ff6b6b; /* Fondo rosa al hacer hover */
}

/* Centra el formulario horizontalmente y cambia el tamaño del botón */
.container {
  text-align: center;
}

/* Estilo para el botón "ENVIAR" */
button[type="submit"] {
  font-size: 23px; /* Tamaño de fuente más grande */
}

/* Estilo para el carrusel (ajusta según sea necesario) */
.carousel {
  margin: 20px 0;
}

